/* ---------------- Dock ---------------- */

body.has_dock { 
    margin-left: 30px;
}

#dock { 
    left: 0%;
    margin-left: 0px;
    border-width: 0;
    background-image: url([[pix:theme|vgradient1]]);
    background-repeat: repeat-y;
    background-position: top left;
    background-color: [[setting:navbarcolor]];
}

/* The undock all button at the bottom of dock items */

#dock .controls { 
    bottom: auto;
    background-color: transparent;
}

#dock .dockeditem_container { 
    position: relative;
}

/* Margin at the very top of the docked items */

#dock .dockeditem.firstdockitem { 
    margin-top: 5px;
}

#dock .dockeditem { 
    background-color: transparent;
    padding: 0px;
    padding-right: 0px;
}

#dock .dockedtitle { 
    border-width: 0;
}

#dock .dockedtitle h2 { 
    margin: 0;
    padding: 10px 3px;
}

/* Color when hovering over a dock item */

#dock .dockedtitle.activeitem {
    background-image: url([[pix:theme|vgradient1]]);
    background-repeat: repeat-y;
    background-position: top left;
    background-color: [[setting:custommenuhovercolor]];
    width: 30px;
}

/* This creates a 2px border at the bottom and must be included to overwrite the parent theme */

#dockeditempanel { 
    background: none;
    margin-left: 2px;
    width: auto;
}

/* Content in docked menu */

#dockeditempanel .dockeditempanel_content { 
    background-color: [[setting:blockcolor]];
    background-image: url([[pix:theme|hgradient]]);
    background-repeat: repeat-x;
    background-position: top left;
    margin: 0px;
    position: relative;
    top: -3px;
    min-height: 100px;
    border: 1px solid #B3B3B3;
    border-radius: 10px;
    width: auto;
}

/* Heading in docked menu */

#dockeditempanel .dockeditempanel_hd { 
    background: transparent;
    border-width: 0;
    padding-right: 6px;
}

#dockeditempanel .dockeditempanel_hd h2 { 
    font-size: 1em;
    color: #000000;
}

#dockeditempanel .dockeditempanel_bd {
    white-space: normal;
}

.dock .block_navigation .tree_item {
    white-space: normal;
}